/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Block styles
*/


/* -----------------------------------------
   Block Styles
----------------------------------------- */

.person {
    text-align: center;
    margin-top: 15px;
}

.button.active {
    background: green !important;
}

.timelist {
    margin-bottom: 35px;
}

.button {
    border: 1px solid white;
    border-radius: 10px;
}

.topbar {
    background: #333;
    padding-top: 15px;
    padding-bottom: 6px;
    margin-bottom: 15px;
}

.topbar.button {
    margin-top: 3px;
}

.white {
    color: white;
}

.custom.dropdown{
    margin-top: 5px;
}

form.nice {
    margin: 0 !important;
}

.center {
    text-align: center;
}

#fulltime{
    border-radius: 25px;
    border: 1px solid black;
    background: black;
    color: white;
}

.nice.pink.button {
    background-color: #e67a7a;
    border: 1px solid #cf6868;
}

.nice.pink.button:hover {
    background-color: #cf6868;
}
