/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Block styles
*/


/* -----------------------------------------
   Block Styles
----------------------------------------- */

.person {
    text-align: center;
    margin-top: 15px;
}

.button.active {
    background-color: #6dc16d !important;
    border: 1px solid #469346 !important;
}

.timelist {
    margin-bottom: 35px;
}

.button {
    border: 1px solid white;
    border-radius: 10px;
}

.topbar {
    background: #333;
    padding-top: 15px;
    padding-bottom: 6px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 1px 1px #999;
    position: relative;
    z-index: 2;
}

.topbar .button {
    margin-top: 3px;
}

.white {
    color: white;
}

.custom.dropdown{
    margin-top: 5px;
}

form.nice {
    margin: 0 !important;
}

.pinkbold {
    font-weight: bold;
    color: #f18b8b;
    padding-top: 10px;
}

.center {
    text-align: center;
}

#fulltime{
    border-radius: 25px;
    border: 1px solid black;
    background: #666;
    box-shadow: inset 0px 1px 4px 1px #333;
    color: white;
}

.nice.pink.button {
    background-color: #e67a7a;
    border: 1px solid #cf6868;
}

.nice.pink.button:hover {
    background-color: #cf6868;
}

.totaltime{
    margin: 10px auto 0px auto;
    background: #666;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 25px;
    width: 100px;
    box-shadow: inset 0px 1px 4px 1px #333;
}

.person {
    background: #EEE9E9;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px 0px;
}

.person.selected {
    background: #e9f0e9;
}

.banner {
    width: 970px;
    background: url('images/bannerbg.png') no-repeat;
    height: 260px;
    margin-top: -15px;
    padding-top: 30px;
    position: relative;
    z-index: 0;
}

.screenshot {
    position: absolute;
    top: 32px;
    left: 75px;
    border: 3px solid #e67a7a;
    border-radius: 3px;
    line-height: 0;
    float: left;
    box-shadow: 0px 1px 3px 1px #aaa;
}

.banner-p {
    position: absolute;
    float: left;
    right: 75px;
    top: 150px;
    color: white;
    text-shadow: 0px 1px 1px #aaa;
}

.banner-title {
    float: left;
    position: absolute;
    text-shadow: 0px 1px 1px #fff;
    right: 75px;
    top: 50px;
}

.ribbon {
    width: 978px;
    background: url('images/ribbon.png') no-repeat;
    height: 80px;
    position: relative;
    z-index: 4;
    top: -20px;
    left: 1px;
    margin: 0 auto;
}

.homecontent {
    width: 970px;
    background: url('images/contentbg.png') no-repeat;
    position: relative;
    z-index: 0;
    top: -25px;
    padding-top: 25px;
    min-height: 400px;
}