{% extends 'index.html' %}
{% block pagetitle %}{{group.name}} Home{% endblock %}

{% block content %}
<script type='text/javascript'>
    $(function(){
        $('#meeting').click(function(){
            if ( $(this).val() == 'add meeting'){
                $(this).val('');
            }
        });
        $('#add-meeting').click(function(){
            if ( $('#meeting').val() == 'add meeting' || $('#meeting').val() == ''){
                return false;
            }
            $.post('/ajax/create_meeting/',{'name': $('#meeting').val()}, function(data){
                var obj = $.parseJSON(data)
                if ( obj.error ){
                    alert(obj.error)
                    return false;
                }
                location = '/meeting/'+obj.id+'/';
            });
            return false;
        });
        $('#attendee-add').click(function(){
           var name=$('#attendee-name').val();
           var email=$('#attendee-email').val();
           if(name){
                $.post('/ajax/create_attendee/',{'name': name, 'email': email},function(data){
                    location.reload(true);
                });
           }
           return false;
        });
    });
</script>
<div class='row'>
    <div class='twelve columns'>
        <h2>{{group.name}} Home</h2>
        <hr />
    </div>
</div>
<div class='row'>
    <div class='four columns'>
        <h3>Meetings</h3>
        <p>
            Create your meetings here
        </p>
        {% if group.meeting_set.all.count %}
        <ul>
            {% for x in group.meeting_set.all %}
            <li><a href='/meeting/{{x.pk}}'>{{x.name}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p><i>No meetings</i></p>
        {% endif %}
        <form method='post' action='#' class='custom nice'>
            <input type='text' name='meeting' placeholder='add meeting' id='meeting' class='input-text' />
            <a href='#' class='small button radius nice pink' id='add-meeting'>Add</a>
        </form>
    </div>
    <div class='five columns'>
        <h3>Organization Setup</h3>
        <p>
            Add members to your organization before you go into the meeting
        </p>
        <div class='row'>
            <div class='ten columns'>
                <form action='#'  method='post' class='nice custom' style='padding: 15px; border: 1px solid #d9d9d9; box-shadow: 0px 1px 2px #999;'>
                    <label>Full Name:</label>
                    <input type='text' name='name' id='attendee-name' class='input-text' />
                    <label>Email:</label>
                    <input type='text' name='email' id='attendee-email' placeholder='optional' class='input-text' />
                    <a href='#' id='attendee-add' class='pink button radius nice'>Add</a>
                </form>
            </div>
        </div>
    </div>
    <div class='three columns'>
        <h3>People</h3>
        <p>Listing of people in your organization</p>
        {% if group.attendee_set.all.count %}
        <ul>
            {% for x in group.attendee_set.all %}
            <li>{{x.name}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}