<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>{% block pagetitle %}Metrics for Meetings{% endblock %} :: MeetRx</title>
  
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="/static/foundation.css">
	<link rel="stylesheet" href="/static/app.css">

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="/static/ie.css">
	<![endif]-->


	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<script src="https://www.google.com/jsapi?key=ABQIAAAAvQQmUH3Ff2x8mUCPcFUu8RQbqwcvo6K3p5mjESH3p_3Lz8o-chTGtlqZ8B-YGYvmoRmYUCCxHeMzvg" type="text/javascript"></script>
	<script type='text/javascript'>
		 google.load("jquery", "1.6.2");
		 google.load("jqueryui", "1.8.16");
	</script>
	<script type='text/javascript'>
		function formatTime(origsecs){
			origsecs = parseInt(origsecs);
			
			var hours = Math.floor(origsecs / (60 * 60));
			
			var divisor_for_minutes = origsecs % (60 * 60);
			var minutes = Math.floor(divisor_for_minutes / 60);
			if (minutes < 10) minutes = "0"+minutes;
			
			var divisor_for_seconds = divisor_for_minutes % 60;
			var seconds = Math.ceil(divisor_for_seconds);
			if (seconds < 10) seconds = "0"+seconds;
			
			return hours+":"+minutes+":"+seconds;	
		}
	</script>
</head>
<body>
	<div class='topbar'>
		<div class='container'>
			<div class='row'>
				<div class='ten columns'>
					<h2 class='white'>Meeting Metrics</h2>
				</div>
				<div class='one columns'>
					<a href='/login/' class='nice blue button'>Login</a>
				</div>
				<div class='one columns'>
					<a href='/register/' class='nice blue button'>Register</a>
				</div>
			</div>
		</div>
	</div>
	<!-- container -->
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<h2>Meeting Metrics</h2>
				<hr />
			</div>
		</div>
		{% block content %}
		<div class='row'>
			Nothing here yet
		</div>
		{% endblock %}
	</div>
	<!-- container -->

	<!-- Included JS Files -->
	<script src="/static/javascripts/foundation.js"></script>
	<script src="/static/javascripts/app.js"></script>

</body>
</html>
