<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<meta name="google-site-verification" content="eB5OY8-7UTdBc99_Ho4RIgDypMw61sYx0NjFJYnmov0" />

	<title>{% block pagetitle %}Metrics for Meetings{% endblock %} :: MeetRx</title>
  
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="/static/foundation.css">
	<link rel="stylesheet" href="/static/app.css">

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="/static/ie.css">
	<![endif]-->


	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Included JS Files -->
	<script src="/static/javascripts/foundation.js"></script>
	<script src="/static/javascripts/app.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
	
	<script type='text/javascript'>
		function formatTime(origsecs){
			origsecs = parseInt(origsecs);
			
			var hours = Math.floor(origsecs / (60 * 60));
			
			var divisor_for_minutes = origsecs % (60 * 60);
			var minutes = Math.floor(divisor_for_minutes / 60);
			if (minutes < 10) minutes = "0"+minutes;
			
			var divisor_for_seconds = divisor_for_minutes % 60;
			var seconds = Math.ceil(divisor_for_seconds);
			if (seconds < 10) seconds = "0"+seconds;
			
			return hours+":"+minutes+":"+seconds;	
		}
	</script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28351644-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
	<div class='topbar'>
		<div class='container'>
			<div class='row'>
				<div class='four columns'>
					<a href='/'><img src='/static/images/logo.png' alt='meetRx'></a>
				</div>
				<div class='eight columns'>
					{% if user.is_authenticated %}
					<a href='/logout/?next=/' class='nice white radius button right' style='margin-left: 15px'>Logout</a>
					<div class='right pinkbold'>
						Good to see you today, {{user}}!
					</div>
					{% else %}
					<a href='/register/' class='nice pink radius button right' style='margin-left: 10px;'>Register</a>
					<a href='/login/' class='nice white radius button right'>Login</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<!-- container -->
	<div class="container">
		{% block content %}
		<div class='row banner'>
			<div class='screenshot'>
				<img src='/static/images/screen.png' alt='Screenshot of meetRx' width='325' />
			</div>
			<h2 class='banner-title'>Metrics for Meetings</h2>
			<div class='banner-p'>
				Some words and shit. <br />
				Cool stuff bro. <br />
			</div>
		</div>
		<div class='ribbon'>
			
		</div>
		<div class='row homecontent'>
			
		</div>
		{% endblock %}
	</div>
	<!-- container -->

</body>
</html>
