<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>{% block pagetitle %}Metrics for Meetings{% endblock %} :: MeetRx</title>
  
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="/static/foundation.css">
	<link rel="stylesheet" href="/static/app.css">

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="/static/ie.css">
	<![endif]-->


	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<script src="https://www.google.com/jsapi?key=ABQIAAAAvQQmUH3Ff2x8mUCPcFUu8RQbqwcvo6K3p5mjESH3p_3Lz8o-chTGtlqZ8B-YGYvmoRmYUCCxHeMzvg" type="text/javascript"></script>
	<script type='text/javascript'>
		 google.load("jquery", "1.6.2");
		 google.load("jqueryui", "1.8.16");
	</script>
	<script type='text/javascript'>
		var running = false;
		var overalltime = 0;
		var currenttimer = 0;
		var currenttime = 0;
		var dividetimer = 0;
		var meeting = 1;
		$(function(){
			$('#divide').click(function(){
				var divtime = dividetimer;
				dividetimer = 0;
				$('.listing').append('<li>Time: '+formatTime(overalltime)+' Duration: '+formatTime(divtime)+'</li>');
				return false;
			});
			$('#pause').click(function(){
				if ( running ){
					running = false;
					$(this).text('Resume');
				} else {
					running = true;
					$(this).text('Pause');
				}
				return false;
			});
			$('#reset').click(function(){
				running = false;
				overalltime = 0;
				currenttime = 0;
				dividetimer = 0;
				currenttimer = 0;
				$('.timelist').find('.totaltime').attr('value', '0');
				return false;
			});
			$('.person-time').click(function(){
				if (running == false){
					$('#pause').text('Pause');
				}
				var id = $(this).parent().attr('rel');
				if (currenttimer == id && running)
					return false;
				// Log the last timer
				var lasttimer = $('.timelist').find('.active');
				var lasttimer_id = lasttimer.parent().attr('rel');
				lasttimer.removeClass('active');
				if (lasttimer_id > 0){
					$.post('/ajax/log/'+meeting+'/'+id+'/', {'time_start': overalltime-currenttime, 'time_end': overalltime}, function(data){
						//Do cool shit
					});
				}
				// Switch to the current timer
				currenttimer = id;
				currenttime = 0;
				running = true;
				$(this).addClass('active');
				return false;
			});
			updateTimes();
		});
		function updateTimes(){
			if ( currenttimer > 0 && running ){
				var timer = $('.person[rel='+currenttimer+']').find('.totaltime');
				var currvalue = timer.attr('value');
				timer.attr('value', parseInt(currvalue)+1);
				currenttime += 1;
			}
			if ( running ){
				overalltime += 1;
				dividetimer += 1;
			}
			$('.timelist .person').each(function(){
				var tmptimer = $(this).find('.totaltime');
				tmptimer.text(formatTime(tmptimer.attr('value')));
			});
			$('#fulltime').text(formatTime(overalltime));
			setTimeout("updateTimes()", 1000);
		}
		function formatTime(origsecs){
			origsecs = parseInt(origsecs);
			
			var hours = Math.floor(origsecs / (60 * 60));
			
			var divisor_for_minutes = origsecs % (60 * 60);
			var minutes = Math.floor(divisor_for_minutes / 60);
			if (minutes < 10) minutes = "0"+minutes;
			
			var divisor_for_seconds = divisor_for_minutes % 60;
			var seconds = Math.ceil(divisor_for_seconds);
			if (seconds < 10) seconds = "0"+seconds;
			
			return hours+":"+minutes+":"+seconds;	
		}
	</script>
</head>
<body>

	<!-- container -->
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<h2>Meeting Metrics</h2>
				<hr />
			</div>
		</div>
		{% block content %}
		<div class='row'>
			Nothing here yet
		</div>
		{% endblock %}
	</div>
	<!-- container -->

	<!-- Included JS Files -->
	<script src="/static/javascripts/foundation.js"></script>
	<script src="/static/javascripts/app.js"></script>

</body>
</html>
