{% extends 'index.html' %}
{% block pagetitle %}{{meeting.name}} Meeting{% endblock %}

{% block content %}
{% if meeting.finished %}
    Done!
{% else %}
<script type='text/javascript'>
    var running = false;
    var overalltime = {{meeting.totaltime}};
    var currenttimer = 0;
    var currenttime = 0;
    var dividetimer = 0;
    var meeting = {{meeting.pk}};
    $(function(){
        $('#add-person').click(function(){
           var person = $('#choose-person option:selected').text();
           var personid = $('#choose-person option:selected').val();
           if (personid){
                if (! $('.person[rel='+personid+']').length){
                    $.get('/ajax/add_attendee/'+meeting+'/'+personid+'/',function (data){
                        var last = $('.timelist').children(':last');
                        var code = "<div class='four columns person' rel='"+personid+"'><a href='#' class='nice radius blue button person-time'>"+person+"</a><div class='totaltime' value='0'>0:00:00</div></div>";
                        if (last.children().length > 2){
                            $('<div class="row">'+code+'</div>').insertAfter(last);
                        } else {
                           last.append(code)
                        }
                    });
                }else{
                    //person already exists
                }
           }
           return false;
        });
        $('#divide').click(function(){
            var divtime = dividetimer;
            dividetimer = 0;
            var name = $('#milestone').val();
            if ( !name )
                return false;
            $.post('/ajax/create_milestone/'+meeting+'/', {'name':name, 'time':overalltime}, function(data){
                 $('.listing').append('<li>'+name+' ('+formatTime(overalltime)+')</li>');
            });
            return false;
        });
        $('.pause').click(function(){
            if( !overalltime)
                return false;
            if ( running ){
                running = false;
                $(this).text('Resume');
            } else {
                running = true;
                $(this).text('Pause');
            }
            return false;
        });
        $('.reset').click(function(){
           /* running = false;
            overalltime = 0;
            currenttime = 0;
            dividetimer = 0;
            currenttimer = 0;
            $('.timelist').find('.totaltime').attr('value', '0');
           */
            currenttimer = 0;
            currenttime = 0;
            $('.timelist').find('.active').removeClass('active');
            $('.timelist').find('.selected').removeClass('selected');
            return false;
        });
        $('.person').live('click',function(){
            var pt = $(this).find('.person-time');
            if (running == false){
                $('.pause').text('Pause');
            }
            var id = pt.parent().attr('rel');
            if (currenttimer == id && running)
                return false;
            // Log the last timer
            var lasttimer = $('.timelist').find('.active');
            var lasttimer_id = lasttimer.parent().attr('rel');
            lasttimer.removeClass('active');
            lasttimer.parent().removeClass('selected');
            if (lasttimer_id > 0){
                $.post('/ajax/log/'+meeting+'/'+lasttimer_id+'/', {'time_start': overalltime-currenttime, 'time_end': overalltime}, function(data){
                    //Do cool shit
                });
            }
            // Switch to the current timer
            currenttimer = id;
            currenttime = 0;
            running = true;
            pt.addClass('active');
            pt.parent().addClass('selected');
            pt.parent().find('.totaltime').stop().css("background-color", "#beb").animate({ backgroundColor: "#666"}, 1000);
            return false;
        });
        updateTimes();
    });
    function updateTimes(){
        if ( currenttimer > 0 && running ){
            var timer = $('.person[rel='+currenttimer+']').find('.totaltime');
            var currvalue = timer.attr('value');
            timer.attr('value', parseInt(currvalue)+1);
            currenttime += 1;
        }
        if ( running ){
            overalltime += 1;
            dividetimer += 1;
        }
        $('.timelist .person').each(function(){
            var tmptimer = $(this).find('.totaltime');
            tmptimer.text(formatTime(tmptimer.attr('value')));
        });
        $('#fulltime').text(formatTime(overalltime));
        setTimeout("updateTimes()", 1000);
    }
</script>
<div class='row'>
    <div class='twelve columns'>
        <h3><a href='/'>{{group.name}}</a> &raquo; {{meeting.name}}</h3>
        <hr />
    </div>
</div>
<div class='row'>
    <div class='four columns'>
        <a href='/report/{{meeting.pk}}/' class='nice button radius pink'>View Report</a>
    </div>
    <div class='four columns'>
        <h3 id='fulltime' class='center'></h3>
    </div>
    <div class='four columns'>
        <a href='#' class='nice button radius pink right reset' style='margin-left: 10px;'>Deselect</a>
        <a href='#' class='nice button radius white right pause'>Resume</a>
    </div>
</div>
<div class='row'>
    <hr>
</div>
<div class='timelist'>
    <div class='row'>
    {% for x in meeting.speaker_set.all %}
        <div class="four columns person" rel='{{x.attendee.pk}}'>
            <a href='#' class='nice radius blue button person-time'>{{x.attendee.name}}</a>
            <div class='totaltime' value='{% if x.overalltime %}{{x.overalltime}}{% else %}0{% endif %}'>0:00:00</div>
        </div>
        {% if forloop.counter|divisibleby:"3" %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
    </div>
</div>
<div class='row'>
    <div class='four columns centered'>
        <form method='post' class='nice custom' action='#'>
            <input type='submit' href='#' id='add-person' class='nice button radius white right' value='+'>
            <select id='choose-person'>
                <option value=''>Select Person</option>
                {% for x in group.attendee_set.all %}
                <option value='{{x.pk}}'>{{x.name}}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div>
        <hr>
    </div>
</div>
<div class="row">
    <div class='eight offset-by-two columns'>
        <form method='post' action='#' class='nice custom' style='margin: 0'>
            <a href='#' class='radius blue button right nice' id='divide' style='margin-top: -4px;'>Add</a>
            <input type='text' class='input-text large' placeholder='Milestone' id='milestone'>
        </form>
    </div>
</div>
<div class='row'>
    <hr>
    <ul class='listing'>
        {% for x in meeting.milestone_set.all %}
        <li>{{x.name}} ({{x.time}})</li>    
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}