{% extends 'index.html' %}
{% block pagetitle %}{{meeting.name}} Meeting{% endblock %}

{% block content %}
{% if meeting.finished %}
    Done!
{% else %}
<div class='timelist'>
    <div class="row">
        <div class="four columns person" rel='1'>
            <a href='#' class='big blue button person-time'>Amy</a>
            <div class='totaltime' value='0'>0:00</div>
        </div>
        <div class="four columns person" rel='2'>
            <a href='#' class='big blue button person-time'>Doug</a>
            <div class='totaltime' value='0'>0:00</div>
        </div>
        <div class="four columns person" rel='3'>
            <a href='#' class='big blue button person-time'>George</a>
            <div class='totaltime' value='0'>0:00</div>
        </div>
    </div>
    <div class='row'>
        <div class="four columns person" rel='4'>
            <a href='#' class='big blue button person-time'>Fred</a>
            <div class='totaltime' value='0'>0:00</div>
        </div>
        <div class="four columns person" rel='5'>
            <a href='#' class='big blue button person-time'>James</a>
            <div class='totaltime' value='0'>0:00</div>
        </div>
        <div class="four columns person" rel='6'>
            <a href='#' class='big blue button person-time'>Mike</a>
            <div class='totaltime' value='0'>0:00</div>
        </div>
    </div>
</div>
<div class="row">
    <div class='four columns'>
        <a href='#' class='big red button' id='reset'>Reset</a>
        <a href='#' class='big blue button' id='pause'>Pause</a>
    </div>
    <div class='four columns'>
        <a href='#' class='big blue button' id='divide'>Divide</a>
    </div>
    <div class='four columns'>
        <h3 id='fulltime'></h3>
    </div>
</div>
<div>
    <ul class='listing'>
    </ul>
</div>
{% endif %}
{% endblock %}