{% extends 'index.html' %}
{% block pagetitle %}Payment{% endblock %}

{% block content %}
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
    // this identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_kk0nxUe4ZwcslVqLdD0HivFgyGDYy');
    $(function() {
        $("#payment-form").submit(function(event) {
          // disable the submit button to prevent repeated clicks
          $('.submit-button').attr("disabled", "disabled");
        
          var amount = 1000; //amount you want to charge in cents
          
          var expiry = $('.card-expiry').val().split("/");
          if (expiry.length != 2 ){
            $(".payment-errors").html("Expiration must be in MM/YYYY format").show();
            $('.submit-button').removeAttr("disabled")
            return false;
          } else {
            $(".payment-errors").hide();
          }
          
          Stripe.createToken({
              number: $('.card-number').val(),
              cvc: $('.card-cvc').val(),
              exp_month: expiry[0],
              exp_year: expiry[1],
          }, amount, stripeResponseHandler);
        
          // prevent the form from submitting with the default action
          return false;
        });
    });
    function stripeResponseHandler(status, response) {
        if (response.error) {
            //show the errors on the form
            $(".payment-errors").html(response.error.message).show();
            $('.submit-button').removeAttr("disabled")
        } else {
            var form$ = $("#payment-form");
            // token contains id, last4, and card type
            var token = response['id'];
            // insert the token into the form so it gets submitted to the server
            form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
            // and submit
            form$.get(0).submit();
        }
    }
</script>
<div class='row'>
    <div class='twelve columns'>
        <h2>Payment</h2>
        <hr>
    </div>
</div>
<div class='row'>
    <div class='twelve columns'>
        <p>
            You've kicked the tires and given it a spin around the block. You've caught a whiff of burning rubber and you're eager for more. Get unlimited groups for a low monthly cost of <strong>only $3</strong>. Consider it like buying us a cup of coffee. We hope we've made your business life easier so far and we know we're sure to in the future.
        </p>
        <form action="" method="POST" id="payment-form" class='custom nice'>
            <div class='alert-box error payment-errors' style='display: none;'></div>
            <label>Card Number</label>
            <input type="text" size="20" autocomplete="off" class="card-number input-text" />
            <label>CVC</label>
            <input type="text" size="4" autocomplete="off" class="card-cvc input-text small" />
            <label>Expiration (MM/YYYY)</label>
            <input type="text" size="2" class="card-expiry input-text small" />
            </div>
            <button type="submit" class="submit-button button white radius nice">Subscribe Now</button>
        </form>
    </div>
</div>
{% endblock %}