{% extends 'index.html' %}
{% block pagetitle %}Payment{% endblock %}

{% block content %}
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
    // this identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_kk0nxUe4ZwcslVqLdD0HivFgyGDYy');
    $(function() {
        $("#payment-form").submit(function(event) {
          // disable the submit button to prevent repeated clicks
          $('.submit-button').attr("disabled", "disabled");
        
          var amount = 1000; //amount you want to charge in cents
          
          var expiry = $('.card-expiry').val().split("/");
          if (expiry.length != 2 ){
            $(".payment-errors").html("Expiration must be in MM/YYYY format").show();
          } else {
            $(".payment-errors").hide();
          }
          
          Stripe.createToken({
              number: $('.card-number').val(),
              cvc: $('.card-cvc').val(),
              exp_month: expiry[0],
              exp_year: expiry[1],
          }, amount, stripeResponseHandler);
        
          // prevent the form from submitting with the default action
          return false;
        });
    });
    function stripeResponseHandler(status, response) {
        if (response.error) {
            //show the errors on the form
            $(".payment-errors").html(response.error.message).show();
        } else {
            var form$ = $("#payment-form");
            // token contains id, last4, and card type
            var token = response['id'];
            // insert the token into the form so it gets submitted to the server
            form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
            // and submit
            form$.get(0).submit();
        }
    }
</script>
<form action="" method="POST" id="payment-form" class='custom nice'>
    <div class='alert-box error payment-errors' style='display: none;'></div>
    <label>Card Number</label>
    <input type="text" size="20" autocomplete="off" class="card-number input-text" />
    <label>CVC</label>
    <input type="text" size="4" autocomplete="off" class="card-cvc input-text small" />
    <label>Expiration (MM/YYYY)</label>
    <input type="text" size="2" class="card-expiry input-text small" />
    </div>
    <button type="submit" class="submit-button">Submit Payment</button>
</form>
{% endblock %}