{% extends 'index.html' %}
{% block pagetitle %}Signup{% endblock %}

{% block content %}
<div class='row'>
	<div class='six columns'>
		<h3>Login</h3>
		<form action='/login/' method='post'>
			{% csrf_token %}
			{% if form.errors %}
				<p class='form-field-error'>Your username and password didn't match. Please try again.</p>
			{% endif %}
			<div class="field-row clearfix">
				<label>Username</label>
				<div class='field-container'>
					<div class='field'><input type="text" name="username" value="" id="username-login" /></div>
				</div>
			</div>
			<div class="field-row clearfix">
				<label>Password</label>
				<div class='field-container'>
					<div class='field'><input type="password" name="password" value="" id="password-login" /></div>
				</div>
			</div>
			<input type="hidden" name="next" value="{{ NEXT }}" />
			<div>
				<input type="submit" value="Login" />
			</div>
		</form>
	</div>
	<div class='six columns'>
		<h3>Register</h3>
		<form action="/register/" method="post">
			{% csrf_token %}
			{% for field in form.visible_fields %}
			<div class="field-row clearfix">
				{% if field.errors %}<div class='form-field-error'>{{field.errors}}</div>{% endif %}
				<label>{{field.label_tag}}</label>
				<div class='field-container'>
					<div class='field'>{{field}}</div>
					{% if field.help_text %}<div class='field-desc'>{{field.help_text}}</div>{% endif %}
				</div>
			</div>
			{% endfor %}
			{% for hidden in form.hidden_fields %}
				{{hidden}}
			{% endfor %}
			<div>
				<input type="submit" value="Submit" id='signup-submit' />
			</div>
		</form>
	</div>
</div>
{% endblock %}
