{% extends 'index.html' %}
{% block pagetitle %}{{meeting.name}} Meeting{% endblock %}

{% block content %}
 <!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});
  
  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);
  
  function drawChart(){
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Attendee');
    data.addColumn('number', 'Time');
    data.addRows([
    {% for x in meeting.speaker_set.all %}
    {% if x.overalltime %}['{{x.attendee.name}}', {v:{{x.overalltime}}, f:formatTime({{x.overalltime}})}],{% endif %}
    {% endfor %}
    ]);
    var options = {'title':'How Much Pizza I Ate Last Night',
                     'width':400,
                     'height':300};
    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);
  }
</script>
<div class='row'>
    <div class='twelve columns'>
        <h3><a href='/'>{{group.name}}</a> &raquo; {{meeting.name}}</h3>
        <hr />
    </div>
</div>
<div class='row'>
    <div class='six columns'>
         <div id="chart_div" style="width:400; height:300"></div>
    </div>
</div>
{% endblock %}