{% extends 'index.html' %}
{% block pagetitle %}{{meeting.name}} Meeting{% endblock %}

{% block content %}
 <!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});
  
  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);
  
  function drawChart(){
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Attendee');
    data.addColumn('number', 'Time');
    data.addRows([
    {% for x in meeting.speaker_set.all %}
    {% if x.overalltime %}['{{x.attendee.name}}', {v:{{x.overalltime}}, f:formatTime({{x.overalltime}})}],{% endif %}
    {% endfor %}
    ]);
    var options = {'title':'Speaking Percentage',
                    'colors': ['#d67c7a', '#e89c9b', '#f6c9c8', '#e9e9e9', '#ccc', '#aaa', '#999', '#666', '#333'],
                     'width':450,
                     'is3D':true,
                     'legend': {'position': 'bottom'},
                     'height':450};
    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);
  }
</script>
<div class='row'>
    <div class='twelve columns'>
        <h3><a href='/'>{{group.name}}</a> &raquo; <a href='/meeting/{{meeting.pk}}/'>{{meeting.name}}</a> &raquo; Reports</h3>
        <hr />
    </div>
</div>
<div class='row'>
    <div class='six columns'>
         <div id="chart_div" style="width:450; height:450"></div>
    </div>
</div>
{% endblock %}